[submodule "YAJL/yajl"]
	path = YAJL/yajl
	url = git://github.com/lloyd/yajl.git
[submodule "CoreJSONTests/CoreTestAllocator"]
	path = CoreJSONTests/CoreTestAllocator
	url = git://github.com/mirek/CoreTestAllocator.git
